# Ignore the virtual environment folder
venv/
.venv/
env/
mlenv/
mlenv
/mlenv
.mlenv/
.temp/
temp
/temp
temp/

# Ignore Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.ipynb_checkpoints
ipynb_checkpoints/
.ipynb_checkpoints

# Ignore OS-specific files
.DS_Store
Thumbs.db

# data
store-sales-time-series-forecasting/